.gradle
/build
/local.properties
.idea/
.idea/workspace.xml
.idea/libraries
.idea/modules.xml
.idea/vcs.xml
.idea/assetWizardSettings.xml
.idea/navEditor.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/misc.xml
.idea/kotlinc.xml
.idea/render.experimental.xml
*.iml
*.iws
*.ipr
.DS_Store
/out
captures/
.externalNativeBuild
.cxx
/androidApp/build
/shared/build
.kotlin/
